{template 'common/header'}
<script>
    require(['jquery', 'util', 'datetimepicker'], function ($, u) {
        $('#expiry_date').datetimepicker({
            format: 'yyyy-mm-dd hh:mm',
            language: 'zh-CN',
            pickDate: true,
            pickTime: true,
            hourStep: 1,
            autoclose: true,
            inputMask: true,
            timepicker: false,
        });
    });
</script>
<div class="clearfix">
    <form id="theform" class="form form-horizontal" action="" method="post">
        <div class="panel panel-default">
            <div class="panel-heading">
                添加视频
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">视频分类</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" id="scan_title" class="form-control span7" placeholder="" name="category" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">分类说明</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" id="scan_title" class="form-control span7" placeholder="" name="category_desc" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">视频名称</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" id="scan_title" class="form-control span7" placeholder="" name="name" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">封面图</label>
                    <div class="col-sm-9 col-xs-12">
                        {php echo tpl_form_field_image('pic')}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">视频时长</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" id="scan_title" class="form-control span7" placeholder="" name="time" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">视频作者</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" id="scan_title" class="form-control span7" placeholder="" name="author" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">作者头像</label>
                    <div class="col-sm-9 col-xs-12">
                        {php echo tpl_form_field_image('avatar')}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">视频上传日期</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" id="scan_title" class="form-control span7" placeholder="" name="upload_date" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">视频地址</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" id="scan_title" class="form-control span7" placeholder="" name="address" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">视频说明</label>
                    <div class="col-sm-9 col-xs-12">
                        <textarea style="height:60px;" name="desc" class="form-control span7" cols="60"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-md-2 col-lg-1">
                        <input name="submit" type="submit" value="保存" class="btn btn-primary btn-block" />
                        <input type="hidden" name="token" value="{$_W['token']}" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{template 'common/footer'}
