@charset "UTF-8";
body,ol,ul,li,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
header{}
header img{width:100%;display:block}


/*自定义样式区域*/
.ui-font-blue{color:#0091FD}
.ui-font-purple{color:#3A096B}
.ui-bgcolor-purple{background:#3A096B}
.ui-font-form-t{height:44px;line-height:44px;padding:0 10px;font-weight:bold;}
.ui-icon-img{height:20px;display:inline;margin-right:6px;vertical-align: text-bottom;}
.ui-float-right{float: right;}
.ui-width-auto{width:auto !important;}
.ui-width-95{width:95px !important;}
.ui-paddingleft-100{padding-left:80px !important;}
.ui-paddingleft-90{padding-left:100px !important;}
.ui-margintop-8{margin-top:8px;}
.ui-margin-right-0{margin-right:0 !important;}
.ui-popup-bg{background:rgba(0,0,0,.8);width:100%;height:100%;position: fixed;z-index: 6;}
.ui-clear{height:6px;clear: both;}
.ui-padding-left-100{padding-left:100px !important;padding-right:0 !important;}
.layermbox2 .layermcont i {    width: 0.2rem !important;    height: 0.2rem !important;}

/*覆盖frozenUI样式*/
.ui-radio input:checked:after{background:#FF7373}
.ui-checkbox input:checked:before, .ui-checkbox-s input:checked:before{color:#FF7373}
.ui-form-item-l label, .ui-form-item-r button{color:#FF7373}