@charset "UTF-8";
	body{background: #e9e9e9;}
    .ui-topBox{
        position: relative;
        width:100%;
        height:170px;
        background:url(../img/bg.png);
        background-size:100% 100%;
    }
    .ui-couponBox{
       position: absolute;
       left:50%;
       top:8px;
       margin-left:-130px;
       width: 260px;
    }
    .ui-text{
       position: absolute;
       left: 7%;
       top: 100px; 
       width: 86%;
       overflow: hidden;
       font-size:.75em;
       color:#8C6900;
    }
    .ui-p2{
        float: left;
    }
    .ui-p3{
        float: right;
    }
    .ui-widthLi{
        width: 50%;
        float: left;
        box-sizing:border-box;
    }   
     .ui-widthLi-borderRight{
        border-right: 1px solid #efefef;
    }
    .ui-widthLi-borderBottom{
        border-bottom: 1px solid #efefef;
    }
    .ui-divide{
        width: 100%;
        height: 10px;
        background: #e9e9e9;
        clear: left;
    }
    .ui-widthLi2{
        width: 25%;
        float: left;
        box-sizing:border-box;
        padding:0.9em 0 1em;
    }
    .ui-parkService{
        width: 95%;
        border-bottom: 1px solid #efefef;
        padding: 10px 0 10px 5% ;
    }
    /*替换样式*/
    .ui-list-link>li:after{
        content:none;
    }
    .ui-list>li{
        margin:0;
    }
    .ui-avatar, .ui-avatar-lg, .ui-avatar-s, .ui-avatar-one, .ui-avatar-tiled{
        background: none;
        padding-right: 5px;
    }
    .ui-avatar{width:36px;height:36px;}
    .ui-list .ui-avatar, .ui-list .ui-avatar-s, .ui-list .ui-avatar-lg{margin:0 3% 0 10%}
    .ui-list-link .ui-list-info{padding-right: 0;}
 	.ui-list-info p{font-size:.6em !important;}
 	.ui-list-info h4{font-weight:normal;font-size:.8em !important;color:#444}
 	.ui-list-text>li, .ui-list-pure>li{padding-top:13px;padding-bottom: 15px;}
 	.ui-list-text.ui-list-link>li{padding-right:0;}
 	.ui-icon-s2{display: block;margin:0 auto !important;padding:0;clear:both;}
 	.ui-panel-info{display:clear: both;width:100%;}
 	.ui-panel-info h4{font-weight:none;width:100%;font-size:.8em !important;text-align: center;padding-top:.3em;color:#444}
 	.ui-parkService{background:#fff}
 	.ui-bg-fff{background:#fff;}
	/*兼容适配*/
	@media screen and (max-width:321px){  /*兼容iPhone5以下样式*/
	.ui-topBox{position: relative;width:100%;height:141px;background:url(../img/bg.png);background-size:100% 100%;}
	.ui-couponBox{position: absolute;left:50%;top:5px;margin-left:-110px;width: 220px;}
	.ui-text{position: absolute;left: 8%;top: 82px;width: 80%;overflow: hidden;font-size:.75em;color:#8C6900;}
	.ui-panel-info h4{font-weight:none;width:100%;font-size:.7em !important;text-align: center;padding-top:.2em;}
	.ui-widthLi2{width:25%;float: left;box-sizing:border-box;padding:0.6em 0 0.8em;}
	.ui-list-text>li, .ui-list-pure>li {padding-top:10px;padding-bottom: 12px;}
	.ui-list .ui-avatar, .ui-list .ui-avatar-s, .ui-list .ui-avatar-lg{margin:0 1% 0 7%}
	.ui-parkService{width: 95%;border-bottom: 1px solid #efefef;padding: 8px 0 8px 5%;font-size:.8em;}
	.ui-list-info h4{font-weight:normal;font-size:.8em !important;}
	.ui-avatar{width:33px;height:33px;}
	}
	@media screen and (min-width:330px) and (max-width:361px){  /*兼容大部分安卓手机样式*/
	.ui-list-info p{font-size:0.7em !important;color:#999}
	.ui-list-info h4{font-weight:normal;font-size:.8em !important;color:#555;}
	.ui-panel-info h4{font-weight:none;width:100%;font-size:.76em !important;text-align: center;padding-top:.2em;}
	.ui-widthLi2{width:25%;float: left;box-sizing:border-box;padding:0.8em 0 1.1em;}
	.ui-list .ui-avatar, .ui-list .ui-avatar-s, .ui-list .ui-avatar-lg{margin:0 2% 0 9%}
	.ui-parkService{width: 95%;border-bottom: 1px solid #efefef;padding: 7px 0 6px 5%;font-size:.8em;}
	.ui-avatar{width:33px;height:33px;}
	.ui-text{font-size:.8em;color:#8C6900;}
	}
	@media screen and (min-width:410px){  /*兼容iPhone6Plus*/
	.ui-topBox{position: relative;width:100%;height:200px;background:url(../img/bg.png);background-size:100% 100%;}
	.ui-couponBox{position: absolute;left:50%;top:11px;margin-left:-150px;width: 300px;}
	.ui-text{position: absolute;left: 7%;top: 115px;width: 86%;overflow: hidden;font-size:.9em;color:#8C6900;}
	.ui-list-text>li, .ui-list-pure>li{padding-top:17px;padding-bottom: 18px;}
	.ui-list-info p{font-size:0.7em !important;color:#999}
	.ui-list-info h4{font-weight:normal;font-size:.92em !important;}
	.ui-avatar{width:42px;height:42px;}
	.ui-list .ui-avatar, .ui-list .ui-avatar-s, .ui-list .ui-avatar-lg{margin:0 3% 0 10%}
	.ui-widthLi2{width:25%;float: left;box-sizing:border-box;padding:0.8em 0 1.2em;}
	}