@charset "UTF-8";
.tips{width:94%;height:auto;margin-left:3%;margin-top:0%;background:#FFF;border-radius:4px;overflow:hidden;}
.tips dt{text-align:center;color:#fff;padding:20px 0 0 0;line-height:1.8em;}
.tips dt h1{font-weight:bold;font-size:26px}
.tips dl{background:url(../img/tipsbg.jpg);background-size:100% 100%;padding-bottom:6px;}
.tips .ui-button-box{padding:12px 12px;}
.tips dd{border:1px solid #fff;border-radius:5px;width:90%;margin:20px 5% 10px;position: relative;color:#fff;}
.tips dd h2{position: absolute;top:-12px;background:#ffffff;padding:0 10px;font-size:.8em;width:100px;left:50%;margin-left:-60px;text-align:center;border-radius:3px;color:#666}
.tips dd ul{display:block;padding:20px 5px 7px;text-align:center;font-size:10px;}
.tips dd ul li{display:inline-table;width:5em;height:5em;background:#fff;border-radius:50%;margin-right:4px;font-size:1em;overflow:hidden;vertical-align:middle;line-height:16px;}
.tips dd.ui-have li:nth-child(1){background:#FBB702;border:0.2em solid #FBB702}
.tips dd.ui-have li:nth-child(2){background:#FF7373;border:0.2em solid #FF7373}
.tips dd.ui-have li:nth-child(3){background:#A64DFF;border:0.2em solid #A64DFF}
.tips dd.ui-sure li:nth-child(1){background:#00B285;border:0.2em solid #00B285}
.tips dd.ui-sure li:nth-child(2){background:#168FF3;border:0.2em solid #168FF3}
.tips dd.ui-sure li:nth-child(3){background:#B973FF;border:0.2em solid #B973FF}
.tips dd.ui-sure li:nth-child(4){background:#3677A3;border:0.2em solid #3677A3}
.tips dd ul li span{display:table-cell;vertical-align:middle;}
.ui-width-90{width:94%;margin-left:3%}
header{background:#3A096B;}
.hint{text-align:center;font-size:.8em;color:#f50;background:#efefef;height:30px;line-height:30px;display:none;}
.ui-icon-close{display:none;}