@charset "utf-8";
/* CSS Document */
body{background:#fff !important;}
.tips{width:70%;margin:20% auto 0;padding:3% 5%;text-align: center;font-size: 0.8em;line-height: 1.4em;color:#666}
.tips img{width:34%;vertical-align: middle;margin-bottom:10%;}
.tips h1{color:#333;padding:0.5em 0 .7em;font-size:1.4em}
a.a1{width: 90%;margin: 0 auto .6em;background:#04BE02;border:1px solid #04BE02;display: block;height: 2em;text-align: center;color:#fff;line-height: 2em;border-radius: 10px;font-size: 1em}
a.a2{width: 90%;margin: 0 auto .6em;background:#EF4F4F;border:1px solid #EF4F4F;display: block;height: 2em;text-align: center;color:#fff;line-height: 2em;border-radius: 10px;font-size: 1em}
a.a3{width: 90%;margin: 0 auto .6em;background:#F7F7F7;border:1px solid #DEDEDE;display: block;height: 2em;text-align: center;color:#666;line-height: 2em;border-radius: 10px;font-size: 1em}
.qrcode{width:120px;margin:2em auto;display:block;}