<p class="footer" style="margin-top:0.42rem"><a href="{$pageInfo[11]['link']}"><span class="greenClr">{$pageInfo[3]['title']}</span></a> {$pageInfo[4]['title']}</p>
<div class="center">
    <div style="padding-top:0.4rem;height:1rem;">
        <span class="logo-ico" style="background: url('{$attach_url}/{$pageInfo[5]['img']}') no-repeat"></span>
        <div class="logo-right">
            <h4>{$pageInfo[6]['title']}</h4>
            <p>{$pageInfo[7]['title']}</p>
        </div>
    </div>
    <img src="{$attach_url}/{$pageInfo[8]['img']}" class="weixin_erweima">
    <p>{$pageInfo[9]['title']}</p>
</div>