<!DOCTYPE html>
<html lang="zh-CN">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>卖家中心</title>
        <link rel="stylesheet" href="../addons/wxz_easy_pay/css/style.css" />
        <script type="text/javascript" src="../addons/wxz_easy_pay/js/jquery.min.js"></script>
        <script type="text/javascript" src="../addons/wxz_easy_pay/js/common.js"></script>
    </head>
    <body class="order_manager">
        <p class="order_manager_top">昨日营收<span class="red-Clr">{$yestodayMoney}</span>元 昨日成交<span class="red-Clr">{$alltotal}</span>笔</p>
        <ul class="order_manager_list">
            <li>
                <a href="{php echo $this->createMobileUrl('sellercentral')}" class="weui_grid js_grid">
                    <span class="manager-ico"><img src="../addons/wxz_easy_pay/images/plus.svg"/></span>
                    <h4>发布商品</h4>
                    <p>生成支付码商品图</p>
                </a>
            </li>
            <li>
                <a href="{php echo $this->createMobileUrl('orders')}" class="weui_grid js_grid">
                    <span class="manager-ico"><img src="../addons/wxz_easy_pay/images/groceries-bag.svg"/></span>
                    <h4>商品管理</h4>
                    <p>管理删除商品</p>
                </a>
            </li>
            <li>
                <a href="{php echo $this->createMobileUrl('orderslist')}" class="weui_grid js_grid">
                    <span class="manager-ico"><img src="../addons/wxz_easy_pay/images/invoice.svg"/></span>
                    <h4>订单管理</h4>
                    <p>未发货{$weifah}笔</p>
                </a>
            </li>
        </ul>
        <!--<a href="#" class="btn" style="">购买简单支付年付会员费</a>-->
        {template 'footer'}
    </body>

    <script type="text/javascript">
                $("#submit").click(function(){
        var search_input;
        {if $_GPC['order_status']}
        search_input = $("#search_input").val();
                order_status = {$_GPC['order_status']};
                window.location.href = "{php echo $this->createMobileUrl('orderslist')}&search=" + search_input + "&order_status=" + order_status;
        { else}
        search_input = $("#search_input").val();
                window.location.href = "{php echo $this->createMobileUrl('orderslist')}&search=" + search_input;
        {/if}

        });
                $("#shipall").click(function(){
        if (confirm("确定全部标记为已发货吗？")) {

        $.ajax({
        url: "{php echo $this->createMobileUrl('my')}&ac=ajaxshipall",
                type: "post",
                dataType: "html",
                success: function (res) {

                if (res == "ok") {
                alert("操作成功");
                        window.location.reload(true);
                } else {
                alert(res);
                }
                }
        })
        }

        });
    </script>  
</html>