<!DOCTYPE html>
<html lang="zh-CN">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>卖家中心</title>

        <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
        <style>
            *{
                margin: 0px;
            }
            body{
                background-color:{if $pageInfo[14]['title']}{$pageInfo[14]['title']}{else}#00C000{/if};
                margin:0px 0px;
                padding:0px 0px;
            }
            img{
                width:100%;
                margin:0px 0px;
                padding:0px 0px;
            }
        </style>
    </head>
    <body>
        <img src="{$product['goodsCode']}"/>
    {php echo register_jssdk(false);} <!-- 放到其他引入的 js 之前 -->
    <script>
        wx.ready(function () {
        sharedata = {
        title: "{$product['goodsName']}",
                desc: "{$product['goodsName']}",
                link: "{$url2}",
                imgUrl: "{$goodsImg},
                success: function(){



                },
                cancel: function(){
                //alert('cancel');
                }
        };
        wx.onMenuShareAppMessage(sharedata);
        wx.onMenuShareTimeline(sharedata);
        });
    </script>      
</body>

</html>