<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
        <title>发布商品</title>
        <link href="../addons/wxz_easy_pay/css/style.css?t=244315411" rel="stylesheet" type="text/css">
        <link href="../addons/wxz_easy_pay/css/mui-switch.css" rel="stylesheet" type="text/css">
        <script src="../addons/wxz_easy_pay/js/jquery-1.11.1.min.js"></script>
        <script src="../addons/wxz_easy_pay/js/common.js"></script>
        <script src="../addons/wxz_easy_pay/js/release_goods.js?ddfg"></script>
    </head>
    <body class="release-goods">
        <script type="text/javascript">
            function toVaild() {
                var goodsName = $("#goodsName").val();
                var goodsPrice = $("#goodsPrice").val();
                var goodsDetail = $("#goodsDetail").val();
                if (goodsPrice) {
                    goodsPrice = parseFloat(goodsPrice);
                    if (goodsPrice < 1) {
                        alert("价格必须大于1");
                        return false;
                    }
                }
                if (!goodsName) {
                    alert("商品名称必须填写");
                    return false;
                }
                document.getElementById('imageform').submit();
                return true;
            }
        </script>
        <form id="imageform" method="post"  enctype="multipart/form-data" action='{php echo $this->createMobileUrl("uploadimage")}' onsubmit="return toVaild();">

            <div id="release-goods-container">
                <div class="release-goods-top">
                    <div class="image"><img src="{$_W['fans']['headimgurl']}" /></div>
                    <div class="image_r">
                        <p>卖家：{$_W['fans']['nickname']} 卖家联系微信：{$userinfo['weixin']} &nbsp;卖家联系电话：{$userinfo['tel']} <a href="{php echo $this->createMobileUrl('savesell')}" class="revise">修改</a></p>
                    </div>
                </div>
                <div class="release-goods-main">
                    <div class="session">
                        <p style="line-height:0.88rem;">上传商品（图片） <a href="{$pageInfo[10]['link']}" class="revise right">使用帮助..</a></p>
                        <ul class="upLoadList" id="upLoadList">
                            <li>
                                <a href="javascript:;" class="upLoadImg">+</a>
                                <input type="file" accept="image/*" class="file" id="file" name="file[]">
                            </li>
                        </ul>
                        <ul class="message-list">
                            <li style="height:auto;">
                                <textarea placeholder="商品名称" class="goodsName" name="goodsName" id="goodsName"></textarea>
                            </li>
                            <li style="height:auto;display:none;" class="goodsDetailLi">
                                <textarea placeholder="商品详细介绍(选填)" class="goodsName" name="goodsDetail" id="goodsDetail"></textarea>
                            </li>
                            <li style="height:auto;display:none;" class="goodsAtrLi">
                                <textarea placeholder="颜色尺码或其他选项.例： 红色,黄色或S,M,L 用逗号分开" class="goodsName" name="goodsAtr" id="goodsAtr"></textarea>
                            </li>
                            <li style="height:auto;display:none" class="goodsPriceMoreLi">
                                <ul>
                                </ul>
                                <div class="label-cell">&nbsp;</div>
                                <a href="javascript:void(0)" class="set_btn" id="changePriceBtn">修改</a>
                            </li>
                            <li class="goodsPriceLi">
                                <div class="label-cell">价格</div>
                                <input type="text" class="input-cell" name="goodsPrice" id="goodsPrice" placeholder="仅填写数字，单位（元）" >
                                <a href="javascript:void(0)" class="set_btn" id="J_setPriceBtn">设置多种价格</a>
                            </li>
                            <li class="goodsPriceLi">
                                <div class="label-cell">库存数</div>
                                <input type="text" class="input-cell" name="goodsStock" value="10" onkeyup="this.value = this.value.replace(/\D/g, '')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
                            </li>
                        </ul>
                    </div>
                    <div class="release-goods-more">
                        <div class="session" style="margin:0.3rem 0;">
                            <ul class="message-list">
                                <li class="goodsPostLi">
                                    <div class="label-cell">邮费</div>
                                    <input type="number" name="post_price" class="input-cell post_price" placeholder="默认免邮费,单位（元）" onkeyup="this.value = this.value.replace(/\D/g, '')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
                                    <a href="#" class="set_btn" id="J_setPostageBtn">不同地区邮费</a>
                                </li>
                                <li style="height:auto;display:none" class="goodsPostMoreLi">
                                    <ul>
                                    </ul>
                                    <div class="label-cell">&nbsp;</div>
                                    <a href="javascript:void(0)" class="set_btn" id="changePostBtn">修改</a>
                                </li>
                                <li>
                                    <div class="label-cell">包邮件数</div>
                                    <input type="text" name="post_num" class="input-cell post_num"  placeholder="仅填写数字" onkeyup="this.value = this.value.replace(/\D/g, '')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
                                </li>
<!--                                <li>
                                    <div class="label-cell">可否自提</div>
                                    <div class="right">
                                        <input name="goodsSince" class="mui-switch mui-switch-animbg" type="checkbox">
                                    </div>
                                </li>-->
                            </ul>
                        </div>
                        <div class="session">
                            <ul class="message-list">
                                <li>
                                    <div class="label-cell">促销</div>
                                    <span style="font-size: 0.30rem">每人最多购买一件</span>
                                    <div class="right">
                                        <input name="promotion" class="mui-switch mui-switch-animbg" type="checkbox">
                                    </div>
                                </li>
                                <li style="height:auto;">
                                    <textarea name="remark" placeholder="货源备注" class="goodsName"></textarea>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="center">
                    <a href="javascript:;" class="more-open">更多选项+</a>
                    <a href="javascript:;" class="btn" onclick="toVaild();">生成支付码图</a>
                    <p class="agreement"><span class="ico"></span>{$pageInfo[1]['title']}</p>
                    <p class="footer"><a href="{$pageInfo[11]['link']}"><span class="greenClr">{$pageInfo[3]['title']}</span></a> {$pageInfo[4]['title']}</p>
                </div>
                <div class="center">
                    <div style="padding-top:0.4rem;height:1rem;">
                        <span class="logo-ico" style="background: url('{$attach_url}/{$pageInfo[5]['img']}') no-repeat"></span>
                        <div class="logo-right">
                            <h4>{$pageInfo[6]['title']}</h4>
                            <p>{$pageInfo[7]['title']}</p>
                        </div>
                    </div>
                    <img src="{$attach_url}/{$pageInfo[8]['img']}" class="weixin_erweima">
                    <p>{$pageInfo[9]['title']}</p>
                </div>
            </div>

            <!-- 支付协议弹窗-->
            <div id="payProtocol" style="display:none;">
                <div class="payProtocol-inner">
                    <h1>支付用户使用协议</h1>
                    <div class="payProtocol-mid">
                        {php echo nl2br($pageInfo[2]['desc']);}
                    </div>
                    <a href="javascript:;" class="closeBtn">关闭</a>
                </div>
            </div>


            <!-- 设置价格弹窗-->
            <div id="setPriceContainer" style="display:none;">
                <div style="display:none;" class="setPrice-item-default">
                    <div class="setPrice-item" >
                        <h4>第1套价格与规则</h4>
                        <ul class="message-list">
                            <li>
                                <div class="label-cell">说明</div>
                                <input type="text" name="moreDesc[]" class="input-cell moreDesc" placeholder="例如iphone6港行，国行">
                            </li>
                            <li>
                                <div class="label-cell">价格</div>
                                <input type="number" name="morePrice[]" class="input-cell morePrice" placeholder="仅填写数字，单位（元）" onkeyup="this.value = this.value.replace(/\D/g, '')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
                            </li>
                            <li>
                                <div class="label-cell">库存数</div>
                                <input type="number"  name="moreStock[]" placeholder="仅填写数字" class="input-cell moreStock" value="10" onkeyup="this.value = this.value.replace(/\D/g, '')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="setPrice-item-list">
                    <div class="setPrice-item">
                        <h4>第1套价格与规则</h4>
                        <ul class="message-list">
                            <li>
                                <div class="label-cell">说明</div>
                                <input type="text" name="moreDesc[]" class="input-cell moreDesc" placeholder="例如iphone6港行，国行">
                            </li>
                            <li>
                                <div class="label-cell">价格</div>
                                <input type="number" name="morePrice[]" class="input-cell morePrice" placeholder="仅填写数字，单位（元）" onkeyup="this.value = this.value.replace(/\D/g, '')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
                            </li>
                            <li>
                                <div class="label-cell">库存数</div>
                                <input type="number" name="moreStock[]" placeholder="仅填写数字" class="input-cell moreStock" value="10" onkeyup="this.value = this.value.replace(/\D/g, '')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="btnLists">
                    <a href="javascript:;" class="btn default-btn add-btn add_btn_price">再增加一套价格</a>
                    <a href="javascript:;" class="btn submit submit_btn_price">确定所有价格</a>
                    <a href="javascript:;" class="btn default-btn cancel_btn_price">取消</a>
                </div>
            </div>

            <!-- 设置邮费弹窗-->
            <div id="setpostageContainer" style="display:none;">
                <div class="setPrice-item">
                    <h4>默认邮费设置</h4>
                    <ul class="message-list">
                        <li>
                            <div class="label-cell">邮费</div>
                            <input type="number" name="more_post_price" class="input-cell more_post_price" placeholder="仅填写数字，单位（元）" onkeyup="this.value = this.value.replace(/\D/g, '')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
                        </li>
                        <li>
                            <div class="label-cell">包邮件数</div>
                            <input type="number" name="more_post_num" class="input-cell more_post_num" placeholder="仅填写数字" onkeyup="this.value = this.value.replace(/\D/g, '')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
                        </li>
                    </ul>
                </div>
                <div style="display:none;" class="setPost-item-default">
                    <div class="setPrice-item">
                        <h4>第1套地区与邮费</h4>
                        <ul class="message-list">
                            <li>
                                <div class="label-cell">地区</div>
                                <input type="text" name="moreCity[]" class="input-cell setArea moreCity" readonly="true" />
                                <!--<span class="dir-right"></span>-->
                            </li>
                            <li>
                                <div class="label-cell">邮费</div>
                                <input type="number" name="morePostPrice[]" class="input-cell morePostPrice" placeholder="仅填写数字，单位（元）" onkeyup="this.value = this.value.replace(/\D/g, '')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="setpostageList">
                    <div class="setPrice-item">
                        <h4>第1套地区与邮费</h4>
                        <ul class="message-list">
                            <li>
                                <div class="label-cell">地区</div>
                                <input type="text"  name="moreCity[]"  class="input-cell setArea moreCity" readonly="true" />
                                <!--<span class="dir-right"></span>-->
                            </li>
                            <li>
                                <div class="label-cell">邮费</div>
                                <input type="number" name="morePostPrice[]" class="input-cell morePostPrice" placeholder="仅填写数字,单位（元）" onkeyup="this.value = this.value.replace(/\D/g, '')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
                            </li>
                        </ul>
                    </div>
                </div>
                <p id="goHistoryPostage" style="padding-top:0.3rem;color:#1ac219;text-align:center;">以前使用过邮费模板</p>
                <div class="btnLists">
                    <a href="javascript:;" class="btn default-btn add-btn add_btn_post">再增加一个地区的邮费</a>
                    <a href="javascript:;" class="btn submit submit_btn_post">确定所有邮费设置</a>
                    <a href="javascript:;" class="btn default-btn cancel cancel_btn_post">取消</a>
                </div>
            </div>

            <!-- 设置最近邮费模板-->
            <div id="newlyPostage" style="display:none;">
                <h4>最近设置{php echo count($postTpls);}个邮费模块</h4>
                <ul>
                    <li class="defaultSetPost">默认邮费0，</li>
                    {php foreach($postTpls as $postTpl) {}
                    <li data-tplid="{$postTpl['id']}">
                        <dl>
                            <dt>默认邮费{$postTpl['postage']},包邮数量{$postTpl['goodsPostNum']}</dt>
                        </dl> 
                        <dl>
                            {php foreach($postTpl['desc'] as $city=>$postPrice) {}
                            <span>{$city}:{$postPrice}</span>
                            {php } }
                        </dl> 
                    </li>
                    {php } }
                </ul>
            </div>
            <!-- 设置地区弹窗-->
            <div id="setAreaPop" style="display:none;">
                <div class="setAreaPop-inner">
                    <ul>
                        <li><input type='radio' name='areaPostage' /><span>北京</span></li>
                        <li><input type='radio' name='areaPostage' /><span>天津</span></li>
                        <li><input type='radio' name='areaPostage' /><span>河北省</span></li>
                        <li><input type='radio' name='areaPostage' /><span>山西省</span></li>
                        <li><input type='radio' name='areaPostage' /><span>内蒙古自治区</span></li>
                        <li><input type='radio' name='areaPostage' /><span>辽宁省</span></li>
                        <li><input type='radio' name='areaPostage' /><span>吉林省</span></li>
                        <li><input type='radio' name='areaPostage' /><span>黑龙江省</span></li>
                        <li><input type='radio' name='areaPostage' /><span>上海</span></li>
                        <li><input type='radio' name='areaPostage' /><span>江苏省</span></li>
                        <li><input type='radio' name='areaPostage' /><span>浙江省</span></li>
                        <li><input type='radio' name='areaPostage' /><span>安徽省</span></li>
                        <li><input type='radio' name='areaPostage' /><span>福建省</span></li>
                        <li><input type='radio' name='areaPostage' /><span>江西省</span></li>
                        <li><input type='radio' name='areaPostage' /><span>山东省</span></li>
                        <li><input type='radio' name='areaPostage' /><span>河南省</span></li>
                        <li><input type='radio' name='areaPostage' /><span>湖北省</span></li>
                        <li><input type='radio' name='areaPostage' /><span>湖南省</span></li>
                        <li><input type='radio' name='areaPostage' /><span>广东省</span></li>
                        <li><input type='radio' name='areaPostage' /><span>广西壮族自治区</span></li>
                        <li><input type='radio' name='areaPostage' /><span>海南省</span></li>
                        <li><input type='radio' name='areaPostage' /><span>重庆</span></li>
                        <li><input type='radio' name='areaPostage' /><span>四川省</span></li>
                        <li><input type='radio' name='areaPostage' /><span>贵州省</span></li>
                        <li><input type='radio' name='areaPostage' /><span>云南省</span></li>
                        <li><input type='radio' name='areaPostage' /><span>西藏自治区</span></li>
                        <li><input type='radio' name='areaPostage' /><span>陕西省</span></li>
                        <li><input type='radio' name='areaPostage' /><span>甘肃省</span></li>
                        <li><input type='radio' name='areaPostage' /><span>青海省</span></li>
                        <li><input type='radio' name='areaPostage' /><span>宁夏回族自治区</span></li>
                        <li><input type='radio' name='areaPostage' /><span>新疆维吾尔自治区</span></li>
                        <li><input type='radio' name='areaPostage' /><span>台湾省</span></li>
                        <li><input type='radio' name='areaPostage' /><span>香港特别行政区</span></li>
                        <li><input type='radio' name='areaPostage' /><span>澳门特别行政区</span></li>
                    </ul>
                </div>
            </div>
        </form>
        <script>
            //多种价格JS
            $(".add_btn_price").click(function () {
                var html = $(".setPrice-item-default").html();
                var price_num = $("#setPriceContainer .setPrice-item-list .setPrice-item").length + 1;
                html = html.replace('第1套价格与规则', '第' + price_num + '套价格与规则');
                $("#setPriceContainer .setPrice-item-list").append(html);
            })

            $(".submit_btn_price").on('click', function () {
                var html = '';
                var i = 1;
                $(".goodsPriceMoreLi ul").html('');
                $("#setPriceContainer .setPrice-item-list .setPrice-item").each(function () {
                    var moreDesc = $(this).find(".moreDesc").val();
                    var morePrice = $(this).find(".morePrice").val();
                    var moreStock = $(this).find(".moreStock").val();
                    if (moreDesc && morePrice && moreStock) {
                        html = "<li><span>" + moreDesc + "</span>: <span>" + morePrice + "</span>元,库存:<span>" + moreStock + "</span></li>";
                        $(".goodsPriceMoreLi ul").append(html);
                    } else {
                        $(this).remove();
                    }

                    $('#release-goods-container').show();
                    $('.goodsPriceMoreLi').show();
                    $('#setPriceContainer').hide();
                    $('.goodsPriceLi').hide();
                })
                var i = 1;
                $("#setPriceContainer .setPrice-item-list .setPrice-item").each(function () {
                    $(this).find('h4').html('第' + i + '套价格与规则');
                    i++;
                })
            });
            $("#changePriceBtn").on('click', function () {
                $('#release-goods-container').hide();
                $('#setPriceContainer').show();
            });
            $(".cancel_btn_price").on('click', function () {
                var html = $(".setPrice-item-default").html();
                $("#setPriceContainer .setPrice-item-list").html(html);
                $(".goodsPriceMoreLi ul").html('');
                $('#release-goods-container').show();
                $('.goodsPriceMoreLi').hide();
                $('#setPriceContainer').hide();
                $('.goodsPriceLi').show();
            });

            //多种邮费JS
            $(".add_btn_post").click(function () {
                var html = $(".setPost-item-default").html();
                var price_num = $("#setpostageList .setPrice-item").length + 1;
                html = html.replace('第1套地区与邮费', '第' + price_num + '套地区与邮费');
                $("#setpostageList").append(html);
            });
            $(".submit_btn_post").on('click', function () {
                var html = '';
                var i = 1;
                $(".goodsPostMoreLi ul").html('');
                $("#setpostageList .setPrice-item").each(function () {
                    var morePostPrice = $(this).find(".morePostPrice").val();
                    var moreCity = $(this).find(".moreCity").val();
                    if (morePostPrice && moreCity) {
                        html = "<li><span>" + moreCity + "</span>: <span>" + morePostPrice + "</span>元</li>";
                        $(".goodsPostMoreLi ul").append(html);
                    } else {
                        $(this).remove();
                    }
                    $('#release-goods-container').show();
                    $('.goodsPostMoreLi').show();
                    $('#setpostageContainer').hide();
                    $('.goodsPostLi').hide();
                });
                var more_post_num = $(".more_post_num").val();
                var more_post_price = $(".more_post_price").val();
                $(".post_num").val(more_post_num);
                $(".goodsPostMoreLi ul").append("<li>其他地区默认邮费" + more_post_price + "元</li>");
                var i = 1;
                $("#setpostageList .setPrice-item").each(function () {
                    $(this).find('h4').html('第' + i + '套价格与规则');
                    i++;
                })
            });
            $("#changePostBtn").on('click', function () {
                $('#release-goods-container').hide();
                $('#setpostageContainer').show();
            });
            $(".cancel_btn_post").on('click', function () {
                var html = $(".setPost-item-default").html();
                $("#setpostageList .setPrice-item").html(html);
                $(".goodsPostMoreLi ul").html('');
                $('#release-goods-container').show();
                $('.goodsPostMoreLi').hide();
                $('#setpostageContainer').hide();
                $('.goodsPostLi').show();
            });

            //默认邮费设置
            $('li', '#newlyPostage').click(function () {
                var tplid = $(this).attr('data-tplid');
                $.ajax({
                    url: "{$_W['siteroot']}app/index.php?i={$_GPC['i']}&c=entry&do=ajax&m={$_GPC['m']}&sdo=defaultTpl&id=" + tplid,
                    type: "post",
                    dataType: "json",
                    success: function (dat) {
                        $(".post_price").val(dat.postage);
                        $(".more_post_price").val(dat.postage);
                        $(".post_num").val(dat.goodsPostNum);
                        $(".more_post_num").val(dat.goodsPostNum);
                        $("#setpostageList").html(dat.setpostageList);
                    }
                });

                $('#newlyPostage').hide();
                $('#setpostageContainer').show();
            });
            $(".defaultSetPost").click(function () {
                $('#newlyPostage').hide();
                $('#setpostageContainer').show();
            });
        </script>
    </body>
</html>

