<!DOCTYPE html>
<html lang="zh-CN">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>保存卖家的联系方式</title>
        <link rel="stylesheet" href="../addons/wxz_easy_pay/css/weui_new.min.css" />
        <script type="text/javascript" src="../addons/wxz_easy_pay/js/jquery-1.11.1.min.js"></script>
    </head>
    <body ontouchstart>
        <div class="weui-cells__title">保存卖家的联系方式</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">联系电话</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" placeholder="请输入手机号" id="phone" value="{$sellinfo['tel']}"/>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">微信号</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" placeholder="请输入微信号" id="weixin" value="{$sellinfo['weixin']}"/>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <textarea placeholder="自提店地址（选填）" id="weui_textarea" class="weui-textarea" rows="3">{$sellinfo['mysaddress']}</textarea>
                </div>
            </div>
            <div class="weui-btn-area">
                <a class="weui-btn weui-btn_primary" href="javascript:" onclick="submit()" id="showTooltips">保存卖家信息</a>
            </div>
        </div>


        <script type="text/javascript">
            function submit() {
                var phone = $("#phone").val();
                var weixin = $("#weixin").val();
                var weui_textarea = $("#weui_textarea").val();
                if (!phone) {
                    alert("请填写手机号");
                    return;
                }
                var reg = /^1[0-9]{10}$/;
                if (!reg.test(phone)) {
                    alert("手机号码格式不正确");
                    return false;
                }
                if (!weixin) {
                    alert("请填写微信");
                    return;
                }
                $.ajax({
                    url: "{php echo $this->createMobileUrl('savesell')}",
                    type: "post",
                    data: {"phone": phone, "ac": "ajaxsend", "weixin": weixin, 'weui_textarea': weui_textarea},
                    success: function (re) {
                        alert("修改成功");
                        location.href = "{php echo $this->createMobileUrl('sellercentral')}";
                    },
                });
            }
        </script>
    </body>
</html>