<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <title>{$scenetitle}</title>
        <style type="text/css"> 
            html {height: 100%;overflow: hidden;}
            #vrpano {height: 100%;}
            body {height: 100%;margin: 0;padding: 0;background-color: #fff;}
        </style>
    </head>
    <body>
        <audio src="{$audioPath}" autoplay loop>
            您的浏览器不支持 audio 标签。
        </audio>
        <div id="vrpano"></div>
        <script type="text/javascript" src="{$modulePath}static/js/swfkrpano.js"></script>
        <script type="text/javascript">
            embedpano({swf: "{$modulePath}template/mobile/scene/{$_GPC['i']}/{$panoFolder}/krpano.swf", xml: "{$modulePath}template/mobile/scene/{$_GPC['i']}/{$panoFolder}/krpano.php?i={$_GPC['i']}&siteroot={$siteroot_encode}&pno={$pano}", target: "vrpano", html5: "auto", passQueryParameters: true});
        </script>
        {template 'share'}
    </body>
</html>
