{template 'common/header'}
<style>
    .l_tableWrap .l_table_tit .l_formBar {
        border: 0;
        float: left;
        font-size: 0;
    }
    .y_sele {
        display: inline-block;
        padding: 5px 0 12px 12px;
    }
    .y_sele_tit {
        font-size: 14px;
        padding: 0 0 0 10px;
    }
    .l_table_search{
        margin-left: 10px;
        margin-bottom: 5px;
    }
</style>
<div class="clearfix">
    <div class="panel panel-default">
        <div class="panel-heading">
            用户列表
        </div>
        <div class="table-responsive panel-body" style="overflow:visible;">

            <div class="l_table_tit clearfix">
                <form method="get" action="" name="frm" class="l_formBar" id="frm1">
                    <span class="y_sele_tit">活动:</span>
                    <div class="y_sele y_size02">
                        <select class="form-control" name="aid" style='width:100px;'>
                            <option value="0">不限</option>
                            {php foreach($activitys as $k=>$row) {}
                            <option value="{$row['id']}" {if $aid==$row['id']}selected="selected"{/if}>{$row['name']}</option>
                            {php } }
                        </select>
                    </div>
                    <input type="hidden" name="c" value="{$_GPC['c']}" />
                    <input type="hidden" name="m" value="{$_GPC['m']}" />
                    <input type="hidden" name="do" value="{$_GPC['do']}" />
                    <input type="hidden" name="a" value="{$_GPC['a']}" />
                    <input type="hidden" name="eid" value="{$_GPC['eid']}" />
                    <div class="btn-group l_table_search">
                        <button type="submit" class="btn btn-success">搜 索</button>
                    </div>
                </form>
            </div>

            <table class="table table-hover">
                <tr>
                    <th style="width:10%">ID</th>
                    <th style="width:20%">OpenId</th>
                    <th style="width:20%">昵称</th>
                    <th style="width:10%">性别</th>
                    <th style="width:10%">城市</th>
                    <th style="width:20%">手机号</th>
                    <th style="width:10%">领取次数</th>
                </tr>
                {loop $list $row}
                <tr>
                    <td>
                        <p class="form-control-static">
                            {$row['uid']}
                        </p>
                    </td>
                    <td>
                        <p class="form-control-static">
                            {$row['openid']}
                        </p>
                    </td>
                    <td>
                        <p class="form-control-static">
                            {$row['nickname']}
                        </p>
                    </td>
                    <td>
                        <p class="form-control-static">
                            {if $row['gender'] == '1'}  
                            男  
                            {else if $row['gender'] == '2'}  
                            女
                            {else}  
                            未知性别  
                            {/if}
                        </p>
                    </td>
                    <td>
                        <p class="form-control-static">
                            {$row['city']}
                        </p>
                    </td>
                    <td>
                        <p class="form-control-static">
                            {$row['cellphone']}
                        </p>
                    </td>
                    <td>
                        <p class="form-control-static">
                            {$row['award_num']}
                        </p>
                    </td>
                </tr>
                {/loop}
            </table>
        </div>
        <div class="panel-body text-right">
            {$pager}
        </div>
    </div>
</div>
{template 'common/footer'}
