{template 'common/header'}
<script>
    require(['jquery', 'util', 'datetimepicker'], function ($, u) {
        $(function () {
            $('#theform').submit(function () {
                var message = '';
                if ($.trim($(':text[name=start_time]').val()) == '') {
                    message += '必须活动开始时间<br>';
                }
                if ($.trim($(':text[name=end_time]').val()) == '') {
                    message += '必须活动结束时间<br>';
                }
                if (message) {
                    u.message(message);
                    return false;
                }
                return true;
            });

            $('#start_time').datetimepicker({
                format: 'Y-m-d H:i',
                language: 'zh-CN',
                pickDate: true,
                pickTime: true,
                hourStep: 1,
                autoclose: true,
                inputMask: true,
                minView: "month",
                timepicker: true,
            });
            $("#end_time").datetimepicker({
                format: 'Y-m-d H:i',
                language: 'zh-CN',
                pickDate: true,
                pickTime: true,
                hourStep: 1,
                autoclose: true,
                inputMask: true,
                minView: "month",
                timepicker: true,
            });

            //强制关注
            $(".force_follow").change(function () {
                var checked = $(this).is(":checked");
                if (checked) {
                    $(".force_follow_div").show();
                } else {
                    $(".force_follow_div").hide();
                }
            });
        });
    });
</script>
<div class="clearfix">
    <form id="theform" class="form form-horizontal" action="" method="post">
        <div class="panel panel-default">
            <div class="panel-heading">
                系统参数
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">活动首页</label>
                    <div class="col-sm-9 col-xs-12">
                        <span class="help-block">
                            {$_W['siteroot']}app/index.php?i={$_W['uniacid']}&c=entry&do=index&m={$_GPC['m']}&aid=活动id
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">我的奖品</label>
                    <div class="col-sm-9 col-xs-12">
                        <span class="help-block">
                            {$_W['siteroot']}app/index.php?i={$_W['uniacid']}&c=entry&do=win&m={$_GPC['m']}&aid=活动id
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">抽奖链接</label>
                    <div class="col-sm-9 col-xs-12">
                        <span class="help-block">
                            {$_W['siteroot']}app/index.php?i={$_W['uniacid']}&c=entry&do=award&m={$_GPC['m']}&pid=项目id&aid=活动id
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{template 'common/footer'}
