{template 'common/header'}
<div class="clearfix">
    <div class="panel panel-default">
        <div class="panel-heading">
            用户列表
        </div>
        <div class="table-responsive panel-body" style="overflow:visible;">
            <table class="table table-hover">
                <tr>
                    <th>ID</th>
                    <th>微信openid</th>
                    <th>微信昵称</th>
                    <th>用户姓名</th>
                    <th>手机号</th>
                    <th>奖品名称</th>
                    <th>红包金额</th>
                    <th>分享次数</th>
                    <th>中奖时间</th>
                    <th>发放状态</th>
                </tr>
                {loop $list $row}
                <tr>
                    <td>
                        <p class="form-control-static">
                            {$row['id']}
                        </p>
                    </td>
                    <td>
                        <p class="form-control-static">
                            {$row['openid']}
                        </p>
                    </td>
                    <td>
                        <p class="form-control-static">
                            {$row['nickname']}
                        </p>
                    </td>
                    <td>
                        <p class="form-control-static">
                            {$row['username']}
                        </p>
                    </td>
                    <td>
                        <p class="form-control-static">
                            {$row['cellphone']}
                        </p>
                    </td>
                    <td>
                        <p class="form-control-static">
                            {$row['award']}
                        </p>
                    </td>
                    <td>
                        <p class="form-control-static">
                            {$row['fee']}
                        </p>
                    </td>
                    <td>
                        <p class="form-control-static">
                            {$row['share_num']}
                        </p>
                    </td>
                    <td>
                        <p class="form-control-static">
                            {php echo date('Y-m-d H:i', $row['create_time'])}
                        </p>
                    </td>
                    <td>
                        <p class="form-control-static">
                            {if $row['is_send']==1}
                               已发放
                            {else}
                               未发放
                            {/if}
                        </p>
                    </td>
                </tr>
                {/loop}
            </table>
        </div>
        <div class="panel-body text-right">
            {$pager}
        </div>
    </div>
</div>
{template 'common/footer'}
