{template 'common/header'}
<script type="text/javascript">
	require(['bootstrap.switch'], function($){
		$(function(){
			$(':checkbox').bootstrapSwitch();
			$(':checkbox').on('switchChange.bootstrapSwitch', function(e, state){
				var rids = 0;
				$(':checkbox:checked').each(function(){
					rids=1;
				});
				$.post(location.href, {'rids': rids}, function(data){
					console.dir(data)
				});
			});
		});
	});
</script>
<ul class="nav nav-tabs">
	<li class="active">打款卖家设置</li>
</ul>
<div class="panel panel-default">
	<div class="table-responsive panel-body">
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
					<th style="width:100px;">名称</th>
					<th style="width:200px;">功能说明</th>
					<th style="width:120px;">状态</th>
				</tr>
			</thead>
			<tbody>

				<tr>
					<td>打款卖家设置</td>
					<td>关闭后在后台手动打款给卖家，开启后买家付款后自动打款给卖家</td>
					<td>
						<input type="checkbox" value="{$setting['paysell_isaotu']}" {$switch}/>
					</td>
				</tr>
			
			</tbody>
		</table>
	</div>
</div>
{template 'common/footer'}
