<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{php echo $this->module['config']['active_name'];}</title>
        <link href="{$modulePath}static/css/css.css" rel="stylesheet"/>
        <meta name="viewport" id="viewport" content="width=device-width,user-scalable=no">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="stylesheet" href="{$modulePath}static/css/swiper.3.1.7.min.css">
        <link rel="stylesheet" href="{$modulePath}static/css/animate.min.css">
        <script src="{$modulePath}static/js/jquery-1.8.3.min.js"></script>
    </head>
    <body>
        <section class="page4 " id="bg">
            <div class="page4-img"></div>
            <div class="page4_text">
                <br />
                <br />
                {$show_msg}

                <br />

                <br /><br />
            </div>
            <!-- <div class="page4_logo"><img src="{$modulePath}static/img/page4/logo.png" width="50%"></div> -->
            <footer><a href="tel:{$pageContents[7]['title']}">{$pageContents[8]['title']}</a></footer>
        </section>
        <script>
            $("section").height($(window).height());
        </script>
        {template 'share'}
    </body>
</html>

