<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
        <title>{$info['name']}</title>
        <link href="{$modulePath}css/style.css" rel="stylesheet" type="text/css">
        <link href="{$modulePath}css/swiper.css" rel="stylesheet" type="text/css">
        <script src="{$modulePath}js/jquery-1.11.1.min.js"></script>
        <script src="{$modulePath}js/common.js"></script>
        <script src="{$modulePath}js/jquery.lazyload.min.js"></script>
        <script src="{$modulePath}js/swiper.js"></script>
        <link rel="stylesheet" href="//g.alicdn.com/de/prismplayer/1.9.9/skins/default/index.css" />
        <script type="text/javascript" src="//g.alicdn.com/de/prismplayer/1.9.9/prism-min.js"></script>
        <script type="text/javascript">
                    $(function () {
                    //视频播放
                    $("#play-button").on("touchstart mousedown", function () {
                    $(".kyt-player .cover, #play-button").hide();
                            $("#video")[0].play();
                    });
                            //分享点击功能
                            $("#shareBtn").on("touchstart mousedown", function (e) {
                    $(".sharePop").show();
                            return false;
                    });
                            $(".sharePop").on("touchstart mousedown", function () {
                    $(this).hide();
                    });
                    });</script>
    </head>
    <body class="videoPage">
        <!--<div class="kyt-player">-->
        <!--<video  playsinline="true" preload="none" src="{$info['address']}" controls=""></video>-->
        {php if (strpos($info['address'],'youku') === false) {}
        <div class="prism-player" id="J_prismPlayer" style="height:700px;"></div>
        {php } else { }
        <iframe style="width:100%;height:500px;" d="video" src="{$info['address']}" frameborder=0 'allowfullscreen'></iframe>
        {php } }
        <!--<div class="cover" style="background-image: url(&quot;{$attach_url}/{$info['pic']}&quot;);"></div>-->
        <!--<div class="play-button" id="play-button"></div>-->
        <!--</div>-->
        <div class="video-info" style="background-image: url({$attach_url.'/'.$info['pic']});">
            <div class="video-meta-positioner">
                <div class="video-meta">
                    <h1>{$info['name']}</h1>
                    <div class="kyt-divider kyt-divider-short"></div>
                    <p>{$info['category']} / {$info['time']}</p>
                    <p class="description">{$info['desc']}</p>
                </div>
                <ul class="icoLists">
                    <li>
                        <a href="javascript:;">
                            <span class="video-ico"></span>
                            <span class="video-text like">点赞{$info['like']}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" id='shareBtn'>
                            <span class="video-ico1"></span>
                            <span class="video-text">分享</span>
                        </a>
                    </li>
                </ul>
                <div class="video-mess">
                    <input type="text" class="messages">
                    <a href="javascript:;" class="comment">评论</a>
                </div>
            </div>

            <div class="reply-list-container">
                <div class="kyt-divider"></div>
                <div class="header">热门评论</div>
                <div class="reply-list">  
                    {php foreach($comments as $row) { }
                    <a>
                        <div class="reply">
                            <div class="like">
                                <div class="like-count">
                                    <!--<div>432</div>-->
                                    <!--<div class="like-count-icon"></div>-->
                                </div>  
                                <!--<div class="like-count-hot">- Hot -</div>-->  
                            </div>
                            <!--<div class="avatar" style="background-image: url('{$row['fans_info']['avatar']}')"></div>-->
                            <div class="entity">
                                <p class="username">{$row['fans_info']['nickname']}</p>
                                <p class="time">{$row['date_format']}</p>
                                <p class="text">{$row['content']}</p>
                            </div>
                        </div>
                    </a>
                    {php } }
                </div>   
                <div class="kyt-divider"></div>
            </div>

            <div class="relate-video-list-positioner">
                <div class="relate-video-list">  
                    {php foreach($list as $row) { }
                    <a href="{php echo $this->createMobileUrl('detail',array('id'=>$row['id']))}">
                        <div class="relate-video">
                            <div class="cover" style="background-image: url({$attach_url}/{$row['pic']})"></div>
                            <div class="meta">
                                <div class="title">{$row['name']}</div>
                                <div class="category">#{$row['category']} / {$row['time']}</div>
                            </div>
                        </div>
                    </a>
                    {php } }
                </div>
            </div>
            <div class="kyt-footer">
                <a href="/"><div class="bottom-logo" style="background-image: url({$attach_url}/{$_W['module_config']['logo']})"></div></a>
                <img src="{$attach_url}/{$_W['module_config']['qrcode']}" >
                <div class="qr-tips">{$_W['module_config']['qrcodetxt']}</div>
            </div>
        </div>
        <div class="sharePop"><img src="{$modulePath}images/share.png" /></div>
    </body>

    <script type="text/javascript">
                $(function () {
                $('.like').click(function () {
                var param = {};
                        param.page_id = {$info['id']};
                        $.ajax({
                        url: "{php echo $this->createMobileUrl("ajax",array("sdo"=>"like"))}",
                                type: "post",
                                dataType: "html",
                                data: param,
                                success: function (dat) {
                                alert(dat);
                                        window.location.reload();
                                }
                        });
                });
                        $('.comment').click(function () {
                var param = {};
                        param.page_id = {$info['id']};
                        param.content = $(".messages").val();
                        $.ajax({
                        url: "{php echo $this->createMobileUrl("ajax",array("sdo"=>"comment"))}",
                                type: "post",
                                dataType: "html",
                                data: param,
                                success: function (dat) {
                                alert(dat);
                                        $(".messages").val('');
                                        window.location.reload();
                                }
                        });
                })
                });</script>
    <script>
                var player = new prismplayer({
                id: 'J_prismPlayer',
                        width: '100%',
                        autoplay: false,
                        //支持播放地址播放,此播放优先级最高
                        source: "{$info['address']}",
                        //播放方式二：推荐
                        vid: '1e067a2831b641db90d570b6480fbc40',
                        height: '100%',
                        width: '100%',
                        playauth: '',
                        cover: "{$attach_url}/{$info['pic']}"
                });
    </script>
</html>