<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
        <title>发现</title>
        <link href="{$modulePath}css/style.css" rel="stylesheet" type="text/css">
        <link href="{$modulePath}css/swiper.css" rel="stylesheet" type="text/css">
        <script src="{$modulePath}js/jquery-1.11.1.min.js"></script>
        <script src="{$modulePath}js/common.js"></script>
        <script src="{$modulePath}js/jquery.lazyload.min.js"></script>
        <script src="{$modulePath}js/swiper.js"></script>
        <script src="{$modulePath}js/find.js"></script>
    </head>
    <body class="findPage">
        <div class="main">
            <div class="find-top-wrap">
                <div class="find-top">
                    <a class="left">全部分类</a>
                    <span class="center"></span>
                    <a class="right"></a>
                </div>
                <ul class="tabs">
                    <li><a href="#hotTab" class="active"  data-init="1" data-scroll="0">热 门</a></li>
                    <li><a href="#classifyTab" data-init="0" data-scroll="1">分 类</a></li>
                </ul>
            </div>
            <div id="tabs-container">
                <!-- 热门 -->
                <div id="hotTab">
                    <div class="swiper-container swiper1" id="swiper1">
                        <div class="swiper-wrapper">
                            {php foreach((array)$resultHot['banner'] as $row) { }
                            <div class="swiper-slide">
                                <a href="{php echo $this->createMobileUrl('detail',array('id'=>$row['page_id']))}">
                                    <img src="{$attach_url}/{$row['pic']}" />
                                </a>
                            </div>
                            {php } }
                        </div>
                        <!-- 分页器 -->
                        <div class="swiper-pagination" id="pagination1"></div>
                    </div>
                    <!-- 热门分类 -->
                    {php foreach((array)$resultHot['list1'] as $k=>$list) { }
                    <h1 class="hot-title">{$k}</h1>
                    <ul class="imgLists">
                        {php foreach((array)$list as $row) { }
                        <li>
                            <a href="{php echo $this->createMobileUrl('detail',array('id'=>$row['page_id']))}">
                                <img class="bigImg lazy" src="{$attach_url}/{$row['pic']}" />
                            </a>
                            <div class="bigImg-bottom">
                                <div class="image"><img class="lazy" src="{$attach_url}/{$row['avatar']}" /></div>
                                <div class="image-center">
                                    <h2 class="text-over">{$row['name']}</h2>
                                    <p class="text-over">{$row['desc']}</p>
                                </div>
                                <div class="image-right text-over">{$row['upload_date']}</div>
                            </div>
                        </li>
                        {php } }
                    </ul>
                    {php } }

                    <!-- 热门排行 -->
                    {php foreach((array)$resultHot['horizontal'] as $k=>$list) { }
                    <div class="imgLists-hot">
                        <h1>{$k}<a class="right-arrow"></a></h1>
                        <div class="swiper3-wrap">
                            <div class="swiper-container swiper3" id="swiper3">
                                <div class="swiper-wrapper">
                                    {php foreach((array)$list as $row) { }
                                    <div class="swiper-slide">
                                        <a href="{php echo $this->createMobileUrl('detail',array('id'=>$row['page_id']))}" class="image">
                                            <img src="{$attach_url}/{$row['pic']}" />
                                            <p>{$row['name']}</p>
                                        </a>
                                    </div>
                                    {php } }
                                    <!--                                    <div class="swiper-slide">
                                                                            <a href="javascript:;" class="image"><span>查看全部<span></a>
                                                                                        </div>-->
                                </div>
                            </div>
                        </div>			
                    </div>
                    {php } }

                    <!-- 最 新 发 布 -->
                    {php foreach((array)$resultHot['list2'] as $k=>$list) { }
                    <h1 class="hot-title">{$k}</h1>
                    <ul class="imgLists" id="hotLists">
                        {php foreach((array)$list as $row) { }
                        <li>
                            <a href="{php echo $this->createMobileUrl('detail',array('id'=>$row['page_id']))}">
                                <img class="bigImg lazy" src="{$attach_url}/{$row['pic']}" />
                            </a>
                            <div class="bigImg-bottom">
                                <div class="image"><img class="lazy" src="{$attach_url}/{$row['avatar']}"/></div>
                                <div class="image-center">
                                    <h2 class="text-over">{$row['name']}</h2>
                                    <p class="text-over">{$row['desc']}</p>
                                </div>
                                <div class="image-right text-over">{$row['upload_date']}</div>
                            </div>
                        </li>
                        {php } }
                    </ul>
                    {php } }

                </div>

                <div id="classifyTab"  style="display:none">
                    <!-- 滚动条到底部加载 -->
                    {php foreach((array)$resultCategory['horizontal'] as $k=>$list) { }
                    <ul id="classifyLists">
                        <li class="classifyList">
                            <div class="classifyList-top">
                                <h2>{$k}</h2>
                                <p>{$category_descs[$k]}</p>
                                <!--<a href="#" class="concern">+关注</a>-->
                            </div>
                            <div class="swiper-container swipers" id="swipers0">
                                <div class="swiper-wrapper">
                                    {php foreach((array)$list as $row) { }
                                    <div class="swiper-slide">
                                        <a href="{php echo $this->createMobileUrl('detail',array('id'=>$row['page_id']))}">
                                            <img src="{$attach_url}/{$row['avatar']}" />
                                            <h4>{$row['name']}</h4>
                                            <p>#{$k}/{$row['upload_date']}</p>
                                        </a>
                                    </div>
                                    {php } }
                                </div>
                                <!-- 分页器 -->
                                <div class="swiper-pagination paginations" id="paginations0"></div>
                            </div>
                        </li>
                    </ul>
                    {php } }

                </div>

            </div>	
        </div>


        <ul id="footer">
            <li>
                <a href="index.html" >
                    <div class="foot-ico"></div>
                    <p>首页</p>
                </a>
            </li>
            <li>
                <a href="find.html" class="active">
                    <div class="foot-ico"></div>
                    <p>发现</p>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div class="foot-ico"></div>
                    <p>关注</p>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div class="foot-ico"></div>
                    <p>我的</p>
                </a>
            </li>
        </ul>
    </body>
</html>