<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
        <title>首页</title>
        <link href="{$modulePath}css/style.css" rel="stylesheet" type="text/css">
        <link href="{$modulePath}css/swiper.css" rel="stylesheet" type="text/css">
        <script src="{$modulePath}js/jquery-1.11.1.min.js"></script>
        <script src="{$modulePath}js/common.js"></script>
        <script src="{$modulePath}js/jquery.lazyload.min.js"></script>
        <script src="{$modulePath}js/swiper.js"></script>
        <script src="{$modulePath}js/index.js"></script>
    </head>
    <body class="indexPage">
        <div class="main">
            <div class="swiper-container swiper1" id="swiper1">
                <span class="search-ico"></span>
                <div class="swiper-wrapper">
                    {php foreach((array)$result['banner'] as $row) { }
                    <div class="swiper-slide">
                        <a href="{php echo $this->createMobileUrl('detail',array('id'=>$row['page_id']))}">
                            <img src="{$attach_url}/{$row['pic']}" />
                        </a>
                    </div>
                    {php } }
                </div>
                <!-- 分页器 -->
                <div class="swiper-pagination"></div>
            </div>
            <a href="javascript:;" class="more-video">更多开眼编辑精选 <span class="right-arrow"></span></a>
            <ul class="imgLists">
                {php foreach((array)$result['list1'] as $row) { }
                <li>
                    <a href="{php echo $this->createMobileUrl('detail',array('id'=>$row['page_id']))}">
                        <img class="bigImg lazy" src="{$attach_url}/{$row['pic']}" />
                    </a>
                    <div class="bigImg-bottom">
                        <div class="image"><img class="lazy" src="{$attach_url}/{$row['avatar']}" /></div>
                        <div class="image-center">
                            <h2 class="text-over">{$row['name']}</h2>
                            <p class="text-over">{$row['desc']}</p>
                        </div>
                        <div class="image-right text-over">{$row['upload_date']}</div>
                    </div>
                </li>
                {php } }
            </ul>
            <!-- 中间滑动 -->
            <div class="imgLists-middle">
                {php foreach((array)$result['ad'] as $row) { }
                <a href="{php echo $this->createMobileUrl('detail',array('id'=>$row['page_id']))}">
                    <img class="bigImg lazy" src="{$attach_url}/{$row['pic']}" />
                </a>
                {php } }
                <div class="swiper2-wrap">
                    <div class="swiper-container swiper2" id="swiper2">
                        <div class="swiper-wrapper">
                            {php foreach((array)$result['horizontal'] as $row) { }
                            <div class="swiper-slide">
                                <a href="{php echo $this->createMobileUrl('detail',array('id'=>$row['page_id']))}" class="image">
                                    <img src="{$attach_url}/{$row['pic']}" />
                                </a>
                                <div class="image-bottom">
                                    <h2 class="text-over">{$row['name']}</h2>
                                    <p class="text-over">{$row['desc']}</p>
                                </div>
                            </div>
                            {php } }
                            <!--                            <div class="swiper-slide">
                                                            <a href="javascript:;" class="image"><span>查看全部<span></a>
                                                                        </div>-->
                        </div>
                    </div>		
                </div>
            </div>
            
<!--            <ul class="imgLists">
                {php foreach((array)$result['horizontal'] as $row) { }
                <li>
                    <a href="{php echo $this->createMobileUrl('detail',array('id'=>$row['page_id']))}">
                        <img class="bigImg lazy" src="{$attach_url}/{$row['pic']}" />
                    </a>
                    <div class="bigImg-bottom">
                        <div class="image"><img class="lazy" src="{$attach_url}/{$row['avatar']}" /></div>
                        <div class="image-center">
                            <h2 class="text-over">{$row['name']}</h2>
                            <p class="text-over">{$row['desc']}</p>
                        </div>
                        <div class="image-right text-over">{$row['upload_date']}</div>
                    </div>
                </li>
                {php } }
            </ul>-->
            <!-- 热门分类 -->
            <!--            <div class="imgLists-hot">
                            <h1>热门分类 <a class="right-arrow"></a></h1>
                            <div class="swiper3-wrap">
                                <div class="swiper-container swiper3" id="swiper3">
                                    <div class="swiper-wrapper">
                                        {php foreach($result['category'] as $row) { }
                                        <div class="swiper-slide">
                                            <a href="{php echo $this->createMobileUrl('detail',array('id'=>$row['page_id']))}" class="image">
                                                <img src="{$attach_url}/{$row['pic']}" />
                                                <p>{$row['name']}</p>
                                            </a>
                                        </div>
                                        {php } }
                                                                    <div class="swiper-slide">
                                                                        <a href="javascript:;" class="image"><span>查看全部<span></a>
                                                                                    </div>
                                    </div>
                                </div>
                            </div>			
                        </div>-->
            <ul class="imgLists" id="hotLists">
                {php foreach((array)$result['list2'] as $row) { }
                <li>
                    <a href="{php echo $this->createMobileUrl('detail',array('id'=>$row['page_id']))}">
                        <img class="bigImg lazy" src="{$attach_url}/{$row['pic']}" />
                    </a>
                    <div class="bigImg-bottom">
                        <div class="image"><img class="lazy" src="{$attach_url}/{$row['avatar']}" /></div>
                        <div class="image-center">
                            <h2 class="text-over">{$row['name']}</h2>
                            <p class="text-over">{$row['desc']}</p>
                        </div>
                        <div class="image-right text-over">{$row['upload_date']}</div>
                    </div>
                </li>
                {php } }
            </ul>
        </div>
        <ul id="footer">
            <li>
                <a href="{php echo $this->createMobileUrl('index')}" class="active">
                    <div class="foot-ico"></div>
                    <p>首页</p>
                </a>
            </li>
            <li>
                <a href="{php echo $this->createMobileUrl('find')}">
                    <div class="foot-ico"></div>
                    <p>发现</p>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div class="foot-ico"></div>
                    <p>关注</p>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div class="foot-ico"></div>
                    <p>我的</p>
                </a>
            </li>
        </ul>
    </body>
</html>