<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="google" content="notranslate">
        <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
        <meta name="keywords" content="视频,短视频,精选,搞笑,电影,广告,摄影,娱乐,美食,运动,音乐,MV,科技,动画,旅行,时尚,穿衣,综艺,短片,生活,搭配,景观,日报,创意,风景">
        <meta name="description" content="开眼视频是一款精品短视频日报应用。在这里，我们会每天为你推荐精心挑选的短视频，它们可能是创意惊人的大牌广告，可能是鲜为人知的美丽风景，也可能是专业的美食攻略或有品位的穿衣指导。">
        <title>Eyepetizer | 开眼视频</title>
        <script src="{$modulePath}js/jquery-1.11.1.min.js"></script>
        <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
        <link rel="stylesheet" type="text/css" href="//static.kaiyanapp.com/eyepetizer-web/styles/videos_article.7048a382.css">
        <script type="text/javascript" src="//trace.rtbasia.com/nht_static.js"></script>
        <script type="text/javascript" charset="UTF-8" async="" src="//trace.rtbasia.com/tkj?rta_k=Z4U1dxhooG&amp;rta_sr=1920x1080&amp;rta_page=http%3A%2F%2Fwww.eyepetizer.net%2Fvideos_article.html%3Fnid%3D191%26vc%3D3210%26deviceModel%3DiPhone%25206%26udid%3Df2e8a690641e99920c69b1c0f66b336f59dc2551%26vn%3D3.9.0&amp;rta_rf=&amp;callback=RTB_3971503723299780"></script></head>
    <body>
        <div style="display: none">
            <img src="//static.kaiyanapp.com/eyepetizer-web/assets/images/index/sprite/icon.8b17fd64.png" alt="eyepetizer icon">
        </div>
        <div class="kyt-loading kyt-loading-leave">
            <div class="out">
            </div><div class="in">
            </div>
        </div>
        <div class="kyt-container">
            <div class="top-cover">
                <img alt="" src="{$attach_url}/{$special_info['pic']}">
            </div>
            <div id="text-wrap">
                <div class="content">
                    <div class="abstract">
                        <p>{$special_info['name']}</p>
                    </div>
                    <p class="desc">
                        {$special_info['desc']}
                    </p>
                </div>
                <div class="spliter">
                </div>
            </div>
            <div class="video-list"> 
                {php foreach($list as $row) { }
                <div class="video" data-vid="45984">
                    <div class="video-player" style="height:393.75px;">
                        <a href="{php echo $this->createMobileUrl('detail',array('id'=>$row['page_id']))}">
                            <div class="video-poster" style="background-image: url('{$attach_url}/{$row['page']['pic']}');background-size: cover;"></div>
                            <!--<img class="video-play" src="assets/images/videos_article/icon_play.8aa59451.png">-->
                        </a>
                    </div>
                    <div id="meta">
                        <div class="title">{$row['page']['name']}</div>
                        <div class="subtitle">#{$row['page']['category']} / {$row['page']['time']}</div>
                        <!--<button class="share"></button>-->
                    </div>
                    <div class="desc">{$row['page']['desc']}</div>
                    <div class="spliter"></div>
                </div>  
                {php } }
            </div>
            <div id="footer">
                <div class="spliter"></div>
                <div class="download-footer">
                    <img class="slogan" src="//static.kaiyanapp.com/eyepetizer-web/assets/images/videos_article/slogan.970c06bf.png"> 
                    <img class="install" src="//static.kaiyanapp.com/eyepetizer-web/assets/images/videos_article/install.9c317772.png">
                </div>
                <div class="spliter">
                </div>
                <div class="kyt-footer">
                    <a href="/">
                        <div class="bottom-logo">
                        </div>
                    </a>
                    <img src="//static.kaiyanapp.com/eyepetizer-web/assets/images/eyepetizer-wx-qr.243f15a2.png" alt="eyepetizer wechat qrcode">
                    <div class="qr-tips">长按二维码关注「开眼 Eyepetizer」微信公众号
                    </div>
                </div>
            </div>
        </div>
        <div class="kyt-modal kyt-share-modal-copy">
            <div class="content"><h1>复制链接</h1><p class="link"></p><p>选中上方的信息进行复制哦！</p><button data-kyt-modal-dismiss="">确定</button>
            </div>
        </div>
        <div class="kyt-modal kyt-share-modal-wechat">
        </div>
        <script>
            $(".download-footer .install").click(function () {
                location.href = 'http://www.kaiyanapp.com/?kyt_download_option_source=web';
            })
        </script>
    </body>
</html>