{template 'common/header'}
<script>
    require(['jquery', 'util', 'datetimepicker'], function ($, u) {
        {if $cacheData['num'] >0}
            setTimeout(location.href="{php echo $this->createWebUrl('gen_reg_qrcode');}",1000);
        {/if}
    });
</script>
<div class="clearfix">
    <form id="theform" class="form form-horizontal" action="" method="post">
        <div class="panel panel-default">
            <div class="panel-heading">
                生成邀请二维码
            </div>
            <div class="panel-body">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">生成邀请二维码码数量</label>
                        <div class="col-sm-9 col-xs-12">
                            <input type="text" id="scan_title" class="form-control span7" placeholder="" name="num" value="{$cacheData['num']}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">二维码生成目录</label>
                        <div class="col-sm-9 col-xs-12">
                            <input type="text" id="scan_title" class="form-control span7" placeholder="" name="path" value="{$cacheData['path']}">
                            <span class="help-block">确保目录有写入权限</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                        <div class="col-sm-9 col-xs-12">
                            <span class="text-success">{$succ}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-md-2 col-lg-1">
                        <input name="submit" type="submit" value="保存" class="btn btn-primary btn-block" />
                        <input type="hidden" name="token" value="{$_W['token']}" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{template 'common/footer'}
