<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <title>{$SceneInfo['name']}</title>
        <style type="text/css"> 
            html {height: 100%;overflow: hidden;}
            #vrpano {height: 100%;}
            body {height: 100%;margin: 0;padding: 0;background-color: #fff;}
        </style>
    </head>
    <body>
        <audio id="bgmusic" src="{$audioPath}" autoplay preload loop ></audio>
        <!-- 当使用方法1时必须加载 JS-SDK 的 JS 文件, 方法2不需要加载这个 JS -->
        <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script>
            // 方法1: 现在微信官方已经推出了微信JS-SDK, 最好还是不要使用"野生"方式, 因为不知道什么时候就可以不能用了!
            // http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
            // 通过config接口注入权限验证配置后, 在 ready 中 play 一下 audio
            function autoPlayAudio1() {
                wx.config({
                    debug: false,
                    appId: "{$_W['account']['jssdkconfig']['appId']}",
                    timestamp: "{$_W['account']['jssdkconfig']['timestamp']}",
                    nonceStr: "{$_W['account']['jssdkconfig']['nonceStr']}",
                    signature: "{$_W['account']['jssdkconfig']['signature']}",
                    jsApiList: ["onMenuShareAppMessage", "onMenuShareTimeline", "onMenuShareQQ"]
                });
                wx.ready(function () {
                    document.getElementById('bgmusic').play();
                });
            }
            function autoPlayAudio2() {
                window.onload = function () {
                    // alert(typeof WeixinJSBridge);
                    WeixinJSBridge.invoke('getNetworkType', {}, function (e) {
                        // 在这里拿到 e.err_msg, 这里面就包含了所有的网络类型
                        // alert(e.err_msg);
                        document.getElementById('bgmusic').play();
                    });
                };
            }
        </script>
        <div id="vrpano"></div>
        <script type="text/javascript" src="{$modulePath}static/js/swfkrpano.js"></script>
        <script type="text/javascript">
            //    autoPlayAudio1(); // 推荐使用方法1
            autoPlayAudio2(); // 也可以试一试方法2
            embedpano({swf: "{$modulePath}template/mobile/scene/{$_GPC['i']}/{$panoFolder}/krpano.swf", xml: "{$modulePath}template/mobile/scene/{$_GPC['i']}/{$panoFolder}/krpano.php?i={$_GPC['i']}&siteroot={$siteroot_encode}&pno={$pano}", target: "vrpano", html5: "auto", passQueryParameters: true});
        </script>
        {template 'share'}
    </body>
</html>
