<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>获取热点</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <style type="text/css"> 
            html {height: 100%;overflow: hidden;}
            #vrpano {height: 100%;}
            body {height: 100%;margin: 0;padding: 0;background-color: #fff;}
        </style>
        <script src="{$modulePath}static/js/jquery-1.8.3.min.js"></script>
        <script type="text/javascript">
            function back(h, v) {
                $("input[name='target_spoth']", opener.document).val(h);
                $("input[name='target_spotv']", opener.document).val(v);
                window.close();
            }
        </script>
    </head>
    <body>
        <div id="vrpano">
        </div>
        <script src="{$modulePath}template/mobile/scene/krpano.js"></script>
        <script type="text/javascript">
            embedpano({swf: "{$modulePath}template/mobile/scene/krpano.swf", xml: "{$xmlUrl}", target: "vrpano", html5: "auto", passQueryParameters: true});
        </script>
    </body>
</html>
