{template 'common/header'}
<script>
    require(['jquery', 'util', 'datetimepicker'], function ($, u) {
        $(".award_type_radio").change(function () {
            var type = $(this).val();

            $(".award_switch").hide();
            $(".award_type" + type).show();
        });
    });
</script>
<div class="clearfix">
    <form id="theform" class="form form-horizontal" action="" method="post">
        <div class="panel panel-default">
            <div class="panel-heading">
                添加奖品
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">活动名称</label>
                    <div class="col-sm-9 col-xs-12">
                        <p class="form-control-static">{$activityInfo['name']}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="award_type_label" class="col-xs-12 col-sm-3 col-md-2 control-label">奖品类型</label>
                    <div class="col-sm-9 col-xs-12">
                        <div class="radio-inline">
                            <label>
                                <input type="radio" checked="checked" class="award_type_radio" placeholder="" name="type" value="1">现金
                            </label>
                        </div>
                        <div class="radio-inline">
                            <label>
                                <input type="radio" class="award_type_radio" placeholder="" name="type" value="2"> 实物
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group award_switch award_type2" style="display: none;">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">奖品名称</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" id="scan_title" class="form-control span7" placeholder="" name="name" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">奖品数量</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" id="scan_title" class="form-control span7" placeholder="" name="num" value="">
                        <span class="help-block">奖品为现金时为奖品总金额,按分计算</span>
                    </div>
                </div>
                <div class="form-group award_switch award_type1">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">最小金额</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" id="scan_title" class="form-control span7" placeholder="" name="min_money" value="">
                        <span class="help-block">按分计算（随机发放最小金额）</span>
                    </div>
                </div>
                <div class="form-group award_switch award_type1">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">最大金额</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" id="scan_title" class="form-control span7" placeholder="" name="max_money" value="">
                        <span class="help-block">按分计算（随机发放最大金额）</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">中奖概率(百分比)</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" id="scan_title" class="form-control span7" placeholder="如: 填写50为50%的中奖概率" name="probability" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-md-2 col-lg-1">
                        <input name="submit" type="submit" value="保存" class="btn btn-primary btn-block" />
                        <input type="hidden" name="token" value="{$_W['token']}" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{template 'common/footer'}
