{template 'common/header'}
<script>
    require(['jquery', 'util', 'datetimepicker'], function ($, u) {
        $(".award_type_radio").change(function () {
            var type = $(this).val();

            $(".award_switch").hide();
            $(".award_type" + type).show();
        });
    });
</script>
<div class="clearfix">
    <form id="theform" class="form form-horizontal" action="" method="post">
        <div class="panel panel-default">
            <div class="panel-heading">
                项目全局配置
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="award_type_label" class="col-xs-12 col-sm-3 col-md-2 control-label">皮肤</label>
                    <div class="col-sm-9 col-xs-12">
                        <div class="radio-inline">
                            <label>
                                <input type="radio" {if !$project_config_info['skin']}checked="checked"{/if} name="skin" value=""> 无
                            </label>
                        </div>
                        {loop $skins $row}
                        <div class="radio-inline">
                            <label>
                                <input type="radio" {if $project_config_info['skin']==$row}checked="checked"{/if} name="skin" value="{$row}"> {$row}
                            </label>
                        </div>
                        {/loop}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">宝藏数量</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" id="scan_title" class="form-control span7" placeholder="" name="treasure_num" value="{$project_config_info['treasure_num']}">
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">宝藏图片</label>
                    <div class="col-sm-9 col-xs-12">
                        {php echo tpl_form_field_image('treasure',$project_config_info['treasure'])}
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">自动旋转</label>
                    <div class="col-sm-9 col-xs-12">
                        <div class="radio-inline">
                            <label>
                                <input type="radio" {if $project_config_info['autorotate']==1}checked="checked"{/if} name="autorotate" value="1"> 开
                            </label>
                        </div>
                        <div class="radio-inline">
                            <label>
                                <input type="radio" {if $project_config_info['autorotate']!=1}checked="checked"{/if} name="autorotate" value="0"> 关
                            </label>
                        </div>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">背景音乐</label>
                    <div class="col-sm-9 col-xs-12">
                        {php echo tpl_form_field_audio('sound',$project_config_info['sound'])}
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-md-2 col-lg-1">
                        <input name="submit" type="submit" value="保存" class="btn btn-primary btn-block" />
                        <input type="hidden" name="token" value="{$_W['token']}" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{template 'common/footer'}
