{template 'common/header'}
<div class="clearfix">
    <form id="theform" class="form form-horizontal" action="" method="post">
        <div class="panel panel-default">
            <div class="panel-heading">
                添加场景
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">场景名称</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" id="scan_title" class="form-control span7" placeholder="" name="name" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">载入预览图</label>
                    <div class="col-sm-9 col-xs-12">
                        {php echo tpl_form_field_image('preview',$info['preview'])}
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">缩略图</label>
                    <div class="col-sm-9 col-xs-12">
                        {php echo tpl_form_field_image('thumb',$info['thumb'])}
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">前（front）</label>
                    <div class="col-sm-9 col-xs-12">
                        {php echo tpl_form_field_image('front',$info['front'])}
                        <span class="help-block">尺寸建议1000px到2500px（推荐用整数）。图片质量不要超过95，体积不要超过1M/张。六图最好直接由ptgui生成，不要用图片处理软件再处理。</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">后（back）</label>
                    <div class="col-sm-9 col-xs-12">
                        {php echo tpl_form_field_image('back',$info['back'])}
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">左（left）</label>
                    <div class="col-sm-9 col-xs-12">
                        {php echo tpl_form_field_image('left',$info['left'])}
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">右（right）</label>
                    <div class="col-sm-9 col-xs-12">
                        {php echo tpl_form_field_image('right',$info['right'])}
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">上（up）</label>
                    <div class="col-sm-9 col-xs-12">
                        {php echo tpl_form_field_image('up',$info['up'])}
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">下（down）</label>
                    <div class="col-sm-9 col-xs-12">
                        {php echo tpl_form_field_image('down',$info['down'])}
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-md-2 col-lg-1">
                        <input name="submit" type="submit" value="保存" class="btn btn-primary btn-block" />
                        <input type="hidden" name="token" value="{$_W['token']}" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{template 'common/footer'}
